<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<style>
     body {
            font-family: 'Poppins', sans-serif;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(39, 118, 76);
            margin: 0;
            padding: 0;
        }
          
        .container {
            background: #fff;
            padding: 40px 80px;
            border-radius: 12px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            position: relative; /* Added */
        }

        .container header {
            height: 65px;
            width: 65px;
            background: #4070f4;
            color: #fff;
            font-size: 2.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container h5 {
            font-size: 1.25rem;
            color: #333;
            font-weight: 500;
            margin-top: 20px;
        }

        form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input[type="password"] {
            background-color: #eee;
        border: none;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        outline: none;
        }

        button {
            background-color: orange;
        color: #fff;
        font-size: 12px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        }

        button.active {
            background: #4070f4;
        }

        button:hover {
            background: #0e4bf1;
        }
        .icon{
            justify-content: center;
            align-items: center;
            margin-left: 250px;
            
        }
        
</style>
<body>
    <!-- forgot-password.ejs -->
    <div class="container">
        <header class="icon">
            <i class="fa-regular fa-face-smile"></i>
        </header>
        <h5>YaYY!! You are almost done.</h5>
        <form action="/api/resetpassword" method="POST"> <!-- Added form tag -->
            <input name="password" type="password" placeholder="Enter new Password" required/>
            <input name="confirmpassword" type="password" placeholder="Confirm Password" required/>
            <button type="submit">Save Changes</button>
        </form>
    </div>
    

</body>
</html>