<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLOZIO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    body{
        background-color: rgb(249, 249, 249);
        /* background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
        display: flex;
        /* align-items: center;
        justify-content: center; */
        flex-direction: column;
        height: 100vh;
    }
    
    .container{
        background-color: #ffffff;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
        margin-top: 70px;
    }
    
    .container p{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 20px 0;
    }
    
    .container span{
        font-size: 12px;
    }
    
    .container a{
        color: #333;
        font-size: 13px;
        text-decoration: none;
        margin: 15px 0 10px;
    }
    
    .container button{
        background-color: orange;
        color: #fff;
        font-size: 12px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .container button:hover{
        background-color: #00a1ff;
    }
    
    .container button.hidden{
        background-color: transparent;
        border-color: #fff;
    }
    
    .container form{
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        height: 100%;
    }
    
    .container input{
        background-color: #eee;
        border: none;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        outline: none;
    }
    
    .form-container{
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }
    
    .sign-in{
        left: 0;
        width: 50%;
        z-index: 2;
    }
    
    .container.active .sign-in{
        transform: translateX(100%);
    }
    
    .sign-up{
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }
    
    .container.active .sign-up{
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }
    
    @keyframes move{
        0%, 49.99%{
            opacity: 0;
            z-index: 1;
        }
        50%, 100%{
            opacity: 1;
            z-index: 5;
        }
    }
    
    .social-icons{
        margin: 20px 0;
    }
    
    .social-icons a{
        border: 1px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        width: 40px;
        height: 40px;
    }
    
    .toggle-container{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 150px 0 0 100px;
        z-index: 1000;
    }
    
    .container.active .toggle-container{
        transform: translateX(-100%);
        border-radius: 0 150px 100px 0;
    }
    
    .container.active .form-container.sign-up {
        transform: translateX(100%);
    }
    
    .container.active .form-container.sign-in {
        transform: translateX(100%);
    }
    
    
    .toggle{
        background-color: linear-gradient(to left, #ffc934, #414141);
        height: 100%;
        background: linear-gradient(to right, #646363 , #ffc934 );
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }
    
    .container.active .toggle{
        transform: translateX(50%);
    }
    
    .toggle-panel{
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }
    
    .toggle-left{
        transform: translateX(-200%);
    }
    
    .container.active .toggle-left{
        transform: translateX(0);
    }
    
    .toggle-right{
        right: 0;
        transform: translateX(0);
    }
    
    .container.active .toggle-right{
        transform: translateX(200%);
    }
    .navbar{
        background-color: rgb(37, 36, 37);
        height: 70px;
    }
    .navbar-brand{
        color: white;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
    .navbar-brand img{
      margin-top: 7px;
    }
    .bn32 {
  border-color: #ffa50b;
  padding: 0.4em 1.8em; /* Decrease padding */
  cursor: pointer;
  font-size: 0.9em; /* Decrease font size */
  color: #ff951c;
  background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.bn32:hover {
  color: #ff8121;
  background-position: 100%;
}
    </style>
    
<body>
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/img/Gloziologo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            GLOZIO
          </a>
          <a href="/adminlogin"><button class="bn-32 bn32">Admin</button></a>
        </div>
      </nav>

      <div class="container" id="container">
          <div class="form-container sign-up">
              <form action="/api/user/register" method="post">
                  <h1>Create Account</h1>
                      <div class="social-icons">
                          <a href="/auth/google" class="icon"><i class="fa-brands fa-google -g"></i></a>
  
                        
                      </div>
                      <span>or use your email for registration</span>
                      <input type="text" placeholder="Name" name="name">
                      <input type="email" placeholder="Email" name="email">
                      <input type="password" placeholder="Password" name="password">
  
                    
                      <% if (locals.success) { %>
                          <p class="success-message"><%= locals.success %></p>
                      <% } %>
                      <button  type="submit">Sign Up</button>
                  </form>
              </div>
          <div class="form-container sign-in">
              <form action="/api/user/login" method="post">
                  <h1>Sign In</h1>
                  <div class="social-icons">
                      <a href="/auth/google" class="icon"><i class="fa-brands fa-google -g"></i></a>
                      
                  </div>
                  <span>or use your email password</span>
                  <input type="email" placeholder="Email" name="email">
                  <input type="password" placeholder="Password" name="password">
                  <a href="/api/forgot-password">Forgot password?</a>
                  <button type="submit">Sign In</button>
              </form>
          </div>
          <div class="toggle-container">
              <div class="toggle">
                  <div class="toggle-panel toggle-left">
                      <h1>Welcome to Glozio</h1>
                      <p>Enter your personal    details </p>
                      <button class="hidden" id="login">Sign In</button>
                  </div>
                  <div class="toggle-panel toggle-right">
                      <h1>Welcome to Glozio</h1>
                      <p>Enter your personal details </p>
                      <button class="hidden" id="register">Sign Up</button>
                  </div>
              </div>
          </div>
      </div>

      <script>
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('error'); // Change 'message' to 'msg'
        if (typeof message !== 'undefined') {
            if (message.includes('passw')) {
                Swal.fire({
                    icon: "failure",
                    title: "Password Wrong",
                    confirmButtonText: "Ok",
                });
                window.history.replaceState({}, document.title, window.location.pathname);
            }
        }
    </script>
    
      
      <script>
        const container = document.getElementById('container');
  const registerBtn = document.getElementById('register');
  const loginBtn = document.getElementById('login');
  
  registerBtn.addEventListener('click', () => {
      container.classList.add("active");
  });
  
  loginBtn.addEventListener('click', () => {
      container.classList.remove("active");
  });
  
    </script>


      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>