<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Category List</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(category => { %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td>
          <a href="/admin/categories/edit/<%= category._id %>">Edit</a>
          <form action="/admin/categories/delete/<%= category._id %>" method="post" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

</body>
</html>